{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="htmx-config" content='{"historyCacheSize": 0, "refreshOnHistoryMiss": false}'>
  {% block meta %}{% endblock %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>{% block title %}DjangoX{% endblock title %}</title>
  <meta name="description" content="A framework for launching new Django projects quickly.">
  <meta name="author" content="">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <script src="https://unpkg.com/htmx.org@1.6.1"
    integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/alpinejs@3.7.1/dist/cdn.min.js"
    defer
    integrity="sha384-KLv/Yaw8nAj6OXX6AvVFEt1FNRHrfBHziZ2JzPhgO9OilYrn6JLfCR4dZzaaQCA5"
    crossorigin="anonymous"></script>

  {% tailwind_css %}

  {% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"  hx-indicator=".progress">
  {% endblock %}
</head>

<body hx-headers="{'X-CSRFToken': '{{ csrf_token }}'}" hx-boost="true" class="dark:bg-slate-900">
  
  {% include '_header.html' %}

  <main id="mainContent">
    {% block content %}{% endblock %}
  </main>


  {% block javascript %}
    <script src="{% static 'js/base.js' %}"></script>
  {% endblock javascript %}
</body>
{% include '_footer.html' %}
</html>